.square {
    border-radius: 0px;
}
/* .jumbotron{
    background-image:linear-gradient(to right,#21c27f,rgb(111, 116, 112));
    color:#fff;
    padding: 10px;
}*/
.pointer{
    cursor:pointer;
}

.left_arrow,.right_arrow{
    position: absolute;
    font-size: 40px;
    top:50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.left_arrow{
left: -50px;
}
.right_arrow{
right: -50px;
}

